<!DOCTYPE html>
<html lang="en-us">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phillip Valdez</title>
    {{!-- Reset CSS --}}
    <link href="/assets/css/reset.css" type="text/css" rel="stylesheet">
    {{!-- Blumba --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    {{!-- Style CSS --}}
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
    
    
</head>
<body>
  {{{ body }}}

  {{!-- footer --}}
    <footer class="footer">
        <div class="content">
            <p class="footer-content">
                <div class="columns has-text-centered">
                    <div class="column">
                        <a href="https://www.linkedin.com/in/phillipvaldez/" target="_blank"><i class="fab fa-linkedin fa-7x"></i></a>
                    </div>
                    <div class="column">
                        <a href="https://github.com/phillip0150" target="_blank"><i class="fab fa-github-square fa-7x"></i></a>
                    </div>
                </div>
            </p>
        </div>
    </footer>
    {{!-- footer --}}

    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {{!-- Font Awesome --}}
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {{!-- Script --}}
    <script src="/assets/js/burgers.js"></script>

</body>
</html>
